In [10]:
import pandas as pd
df=pd.read_csv('data.csv')

In [11]:
df

         Date      Time Event email
0  12/15/2018   6:55:41   abc    kp
1  12/15/2018  13:36:39   def    pk
2  12/15/2018  14.21:56   com    lr
3  12/16/2018   2:29:30   pil    rm
4  12/16/2018  20:22:20   ati    as
5  12/15/2018   2:29:40   iti    ap
6  12/15/2018   2:29:30   esz    pg
7  12/15/2018   2:29:50   iti    ap
8  12/15/2018   9:04:03   ono    ar
9  12/15/2018   9:35:04   fac   sdh

In [13]:
df1 = pd.DataFrame([' '.join([x,y]) for x, y in zip(df['Date'],df['Time'])])
df1.columns = ['DateTime']
df1['DateTime'] = pd.to_datetime(df1['DateTime'])

In [14]:
df = df.join(df1)
df.set_index('DateTime', inplace=True)

In [15]:
outdf = df.resample('30S')['Event'].unique().to_frame()
outdf.columns = ['Events']
outdf = outdf.loc[outdf['Events'].apply(lambda x: len(x) > 0)]

In [18]:
outdf['Events'].apply(pd.Series).stack().reset_index(level=1, drop=True).to_frame('Events')

                    Events
DateTime
2018-12-15 02:29:30    esz
2018-12-15 02:29:30    iti
2018-12-15 06:55:30    abc
2018-12-15 09:04:00    ono
2018-12-15 09:35:00    fac
2018-12-15 13:36:30    def
2018-12-15 14:56:00    com
2018-12-16 02:29:30    pil
2018-12-16 20:22:00    ati